@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

// Title
h1 {
  text-align: justify;
  margin-top: 50px;
  margin-left: 50px;
}

// tic tac toe board
.container {
  background: orange;
}

.col-sm {
  height: 100px;
  text-align: center;
  padding: 25px;
  border: 2px black solid;
}


table {
	border-spacing: 0px;
}

td {
	width : 100px;
	height: 100px;
	border: 1.5px solid black;
	padding : 0px;
}

/*td:hover {
	background-color: rgba(81, 143, 99, 0.8);
}*/

table {
	margin: 20px auto auto auto;
}

tbody {
	grid-row-gap: 0px;
}

td:first-child {
	border-left : 0px;
}

td:last-child {
	border-right : 0px;
}

tr:first-child td {
	border-top : 0px;
}

tr:last-child td {
	border-bottom: 0px;
}

td {
	text-align: center;
	font-family: 'Varela Round', sans-serif;
	font-size: 2em;
}

table {
  background-color: white;
}

#winner-announcement {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
}

.post-auth-forms {
  display: none;
}

main {
  display: none;
}

body {
  background-color: rgb(199,211,179);
}

header {
  margin-top: 10%;
  margin-left: 30%;
  margin-right: 30%;
  padding: 5%;
  background: rgb(119, 167, 172);
  border-radius: 20px;
  border: solid 3px grey;
}

.game-table {
  display: none;
}

// #restart {
//   aligncenter;
// }
// might have to add but let's try to do it with just divs and HTML
// .div-x {
// background-image: url('public/x.jpg')
// }

// .div-o {
//   background-image: url('public/o.jpeg')
// }
