@import '~bootstrap/scss/bootstrap';

// Title
h1 {
  text-align: justify;
  margin-top: 50px;
  margin-left: 50px;
}

// tic tac toe board
.container {
  background: orange;
}

.col-sm {
  height: 100px;
  text-align: center;
  padding: 25px;
  border: 2px black solid;
}

// might have to add but let's try to do it with just divs and HTML
// .div-x {
// background-image: url('public/x.jpg')
// }

// .div-o {
//   background-image: url('public/o.jpeg')
// }
